# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ATD.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\ATD\.idea\.idea.ATD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
