# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ProjetATD.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\ProjetATD\.idea\.idea.ProjetATD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
